<application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:label="Winter Tower Defence"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.App">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:theme="@style/Theme.SplashScreen"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:launchMode="singleTask">
